@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
    font-family: "Poppins";
}
:root {
    --main-bg-color: white;
    --primary-color: #4ab9dd;
    --secondary-color: #006080;
    --alternate-color: #a5a0da;
    --alert-color: #cb7070;
}

.container {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 10px;
    margin: 0 auto;
    margin-top: 50px;
    width: 50%;
    text-align: center;
    font-size: 20px;
}

table {
    border-spacing: 0 1em;
}

h1 {
    margin-top: 40px;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    /*letter-spacing: 0.2em;*/
    font-size: 30px;
}

/* Card Container */

.column {
    float: left;
    width: 25%;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    /* float: center; */
    margin: 0 -5px;
    box-sizing: border-box;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Card */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    padding: 10px auto;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #4ab9dd;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.tipe {
    margin: 30px auto;
    text-align: center;
    font-family: "Poppins";
    letter-spacing: 0.2em;
    font-size: 30px;
}

p {
    margin: 10px auto;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.form {
    font-family: Georgia, "Times New Roman", Times, serif;
}

/* Akhir card */

/* Form */

.container-information {
    width: 60%;
    margin: auto;

    display: flex;
    justify-content: center;
}

.information {
    text-align: left;
    width: 50%;
}

.form1 {
    width: 40%;
    text-align: left;
    padding: 100px;
}

.form1 > form {
    margin-left: auto;
    width: fit-content;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 5px 10px 0px #0000001a;
    background-image: linear-gradient(#add8e6, #4ab9dd);
}

.information > h1 {
    text-align: left;
}
.information > p {
    font-size: 20px;
}
.text-information {
    margin: 10px 0;
    font-weight: 500;
    letter-spacing: 0.2rem;
}
#gambarIndex {
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: -150px;
    width: 65%;
}
header {
    height: 70px;
    /*background-color: lightblue;*/
    border-radius: 10px;
}
#motor {
    font-size: 270%;
    /*color: #7c65ff;*/
    color: #4ab9dd;
    margin-left: 20px;
    text-decoration: none;
    height: auto;
    font-weight: 500;
}
#an {
    font-size: 270%;
    color: #000000;
    text-decoration: none;
    height: auto;
    font-weight: 500;
}
.nav-button a {
    text-decoration: none;
}
#heroText {
    font-family: "Poppins";
    font-weight: lighter;
    color: white;
    font-size: 250%;
    letter-spacing: 00.1em;
}
.hero {
    width: 90%;
    border-radius: 20px;
    /*background-image: linear-gradient(#add8e6, #4ab9dd);*/
    /*background-image: linear-gradient(#fffb8d, #4ab9dd);*/
    background-image: linear-gradient(antiquewhite, #4ab9dd);
    margin-left: auto;
    margin-right: auto;
}
#Title {
    font-family: "Poppins";
    color: #006080;
    letter-spacing: 0.1em;
}
footer {
    /*background-color: var(--secondary-color);*/
    height: 40px;
    text-align: right;
    width: 100%;
}

#creator {
    height: auto;
    color: var(--secondary-color);
    font-size: 16px;
    margin-right: 20px;
    font-weight: lighter;
}
.logo {
    width: 50%;
    float: left;
}
.id-transaksi > p {
    width: 50%;
    float: right;
}

.invoice {
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: #000000;
}

.invoice-text {
    margin-top: 70px;
}

.okay {
    width: 25%;
    float: right;
}
.okay > a > button {
    border: none;
    width: 200px;
    border-radius: 10px;
    background-color: var(--primary-color);
    height: 50px;
}

.okay > a:hover {
    opacity: 70%;
    cursor: pointer;
}
.logo2 {
    width: 60%;
    float: right;
    -webkit-text-stroke: #000000;
}
